<nav class="navbar navbar-expand-lg navbar-sticky-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand emph" href="/">Русский <span class="sub">@ Андовер</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/courses.html">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/textbook.html">Учебник</a>
                </li>
            </ul>
        </div>
    </div>
</nav>