---
---

$primary: #03254E;

footer {
    background-color: #eee;
    min-height: 250px;
    width: 100%;
    margin-top: 50px;
}

.table {
    width: 100%;
    margin-bottom: 5px;

    th,
    td {
        padding: 5px;
        vertical-align: top;
        border-top: 2px solid #eee;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: (2 * 2px) solid #eee;
    }

    tbody+tbody {
        border-top: (2 * 2px) solid #eee;
    }

    .table {
        background-color: white;
    }
}

table {
    @extend .table;
}

body {
    min-height: 100%;
}

.wordmark {
    max-height: 150px;
}

nav {
    margin-bottom: 40px;
    background-color: $primary !important;
}

.white {
    color: white !important;
}

.emph {
    text-transform: uppercase;
}

.sub {
    color: lightgray;
    font-weight: 300;
}

.lessons h1 {
    text-align: center;
}

.page {
    min-height: 70%;
    min-height: -webkit-calc(100vh - 300px);
    min-height: -moz-calc(100vh - 300px);
    min-height: calc(100vh - 300px) !important;
    display: block;
}

@media only screen and (max-width: 920px) {
    .mobile-center {
        margin: auto;
        text-align: center;
    }

    .col-sm {
        padding-top: 25px;
    }
}

.container {
    max-width: 920px !important;
}

img {
    max-width: 300px;
}

.exercise img {
    margin: auto;
}

word {
    cursor: pointer;
    text-decoration: dashed;
    text-decoration-color: lightgray;
    text-decoration-line: underline;
}

.exercise-answer {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.exercise {
    max-width: 500px;
}

blockquote {
    background-color: #eee;
    padding: 6px;

    p ul:not(:first-child) {
        margin-top: 1rem;
    }

    p {
        margin-bottom: 0rem !important;
    }
}

body {
    font-size: 1.15rem !important;
}

.table {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem !important;
}