---
---

$primary: #03254E;

footer {
    background-color: #eee;
    min-height: 250px;
    width: 100%;
    margin-top: 50px;
}

.table {
    width: 100%;
    margin-bottom: 5px;
  
    th,
    td {
      padding: 5px;
      vertical-align: top;
      border-top: 2px solid #eee;
    }
  
    thead th {
      vertical-align: bottom;
      border-bottom: (2 * 2px) solid #eee;
    }
  
    tbody + tbody {
      border-top: (2 * 2px) solid #eee;
    }
  
    .table {
      background-color: white;
    }
  }

table {
    @extend .table;
}

body {
    min-height: 100%;
}

.wordmark {
    max-height: 150px;
}

nav {
    margin-bottom: 40px;
    background-color: $primary !important;
}

.white {
    color: white !important;
}

.emph {
    text-transform: uppercase;
}

.sub {
    color: lightgray;
    font-weight: 300;
}

.lessons h1 {
    text-align: center;
}

.page {
    min-height: 70%;
    min-height: -webkit-calc(100vh - 300px);
    min-height: -moz-calc(100vh - 300px);
    min-height: calc(100vh - 300px) !important;
    display: block;
}

@media only screen and (max-width: 920px) {
    .mobile-center {
        margin: auto;
        text-align: center;
    }

    .col-sm {
        padding-top: 25px;
    }
}