---
layout: default
---

<div class="home">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-4">Добро пожаловать!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card border-primary">
        <a href="/courses.html">
          <div class="card-body text-primary text-center">
            <h2 class="card-title">Курсы</h2>
            <p class="card-text">Домашнее задание, учебные планы и правила.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-primary">
        <a href="/textbook.html">
          <div class="card-body text-primary text-center">
            <h2 class="card-title">Учебник</h2>
            <p class="card-text">Уроки, слова и грамматика.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>