---
layout: default
---
<div class="lesson-description">
  <h1>{{page.name}}</h1>
  <h3 class="text-muted">{{page.description}}</h3>
</div>
<hr class="d-print-none">
<ul class="nav nav-pills d-print-none" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview"
      aria-selected="true">Обзор</a>
  </li>
  {% ifhascontent vocab %}
  <li class="nav-item">
    <a class="nav-link" id="vocab-tab" data-toggle="tab" href="#vocab" role="tab" aria-controls="vocab" aria-selected="false">Новые
      слова</a>
  </li>
  {% endifhascontent %}
  {% ifhascontent grammar %}
  <li class="nav-item">
    <a class="nav-link" id="grammar-tab" data-toggle="tab" href="#grammar" role="tab" aria-controls="grammar"
      aria-selected="false">Грамматика</a>
  </li>
  {% endifhascontent %}
  {% ifhascontent dialog %}
  <li class="nav-item">
    <a class="nav-link" id="dialog-tab" data-toggle="tab" href="#dialog" role="tab" aria-controls="dialog"
      aria-selected="false">Диалог</a>
  </li>
  {% endifhascontent %}
  {% ifhascontent story %}
  <li class="nav-item">
    <a class="nav-link" id="story-tab" data-toggle="tab" href="#story" role="tab" aria-controls="story" aria-selected="false">Чтение</a>
  </li>
  {% endifhascontent %}
  {% ifhascontent drills %}
  <li class="nav-item">
    <a class="nav-link" id="drills-tab" data-toggle="tab" href="#drills" role="tab" aria-controls="drills"
      aria-selected="false">Повторение</a>
  </li>
  {% endifhascontent %}
  {% ifhascontent exercises %}
  <li class="nav-item">
    <a class="nav-link" id="exercises-tab" data-toggle="tab" href="#exercises" role="tab" aria-controls="exercises"
      aria-selected="false">Упражнение</a>
  </li>
  {% endifhascontent %}
</ul>
<hr class="d-print-none">
<div class="tab-content">
  <div class="tab-pane fade show active text-center lesson-item" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    {% contentblock overview %}
  </div>
  <div class="tab-pane fade show lesson-item" id="vocab" role="tabpanel" aria-labelledby="vocab-tab">
    <div class="lesson-section-title">
      <h1>Новые слова</h1>
      <hr>
    </div>
    {% contentblock vocab %}
  </div>
  <div class="tab-pane fade show lesson-item" id="grammar" role="tabpanel" aria-labelledby="grammar-tab">
    <div class="lesson-section-title">
      <h1>Грамматика</h1>
      <hr>
    </div>
    {% contentblock grammar %}
  </div>
  <div class="tab-pane fade show lesson-item" id="dialog" role="tabpanel" aria-labelledby="dialog-tab">
    <div class="lesson-section-title">
      <h1>Диалог</h1>
      <hr>
    </div>
    {% contentblock dialog %}
  </div>
  <div class="tab-pane fade show lesson-item" id="story" role="tabpanel" aria-labelledby="story-tab">
    <div class="lesson-section-title">
      <h1>Чтение</h1>
      <hr>
    </div>
    {% contentblock story %}
  </div>
  <div class="tab-pane fade show lesson-item" id="drills" role="tabpanel" aria-labelledby="drills-tab">
    <div class="lesson-section-title">
      <h1>Повторение</h1>
      <hr>
    </div>
    {% contentblock drills %}
  </div>
  <div class="tab-pane fade show lesson-item" id="exercises" role="tabpanel" aria-labelledby="exercises-tab">
    <div class="lesson-section-title">
      <h1>Упражнение</h1>
      <hr>
    </div>
    {% contentblock exercises %}
  </div>
</div>