footer {
  background-color: #eee;
  min-height: 250px;
  width: 100%;
  margin-top: 50px; }

.table, table {
  width: 100%;
  margin-bottom: 5px; }
  .table th, table th,
  .table td,
  table td {
    padding: 5px;
    vertical-align: top;
    border-top: 2px solid #eee; }
  .table thead th, table thead th {
    vertical-align: bottom;
    border-bottom: 4px solid #eee; }
  .table tbody + tbody, table tbody + tbody {
    border-top: 4px solid #eee; }
  .table .table, table .table, .table table, table table {
    background-color: white; }

body {
  min-height: 100%; }

.wordmark {
  max-height: 150px; }

img a {
  background-color: #cccccc88;
  border: 2px solid red; }

nav {
  margin-bottom: 40px;
  background-color: #03254E !important; }

.white {
  color: white !important; }

.emph {
  text-transform: uppercase; }

.sub {
  color: lightgray;
  font-weight: 300; }

.lessons h1 {
  text-align: center; }

.page {
  min-height: 70%;
  min-height: -webkit-calc(100vh - 300px);
  min-height: -moz-calc(100vh - 300px);
  min-height: calc(100vh - 300px) !important;
  display: block; }

@media only screen and (max-width: 920px) {
  .mobile-center {
    margin: auto;
    text-align: center; }

  .col-sm {
    padding-top: 25px; } }
.container {
  max-width: 920px !important; }

img {
  max-width: 500px;
  border-radius: 6px; }

.exercise img {
  margin: auto; }

word {
  cursor: pointer;
  text-decoration: dashed;
  text-decoration-color: lightgray;
  text-decoration-line: underline; }

.exercise-answer {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important; }

blockquote {
  background-color: #eee;
  padding: 6px;
  border-radius: 6px; }
  blockquote p ul:not(:first-child) {
    margin-top: 1rem; }
  blockquote p {
    margin-bottom: 0rem !important; }

body {
  font-size: 1.15rem !important; }

.table, table {
  margin-bottom: 1rem; }

@media print {
  .lesson-description {
    background-color: #eee !important;
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
    -webkit-print-color-adjust: exact !important; }

  .lesson-item {
    display: block !important;
    opacity: 100%; }

  .lesson-section-title {
    display: block !important;
    margin-top: 2rem;
    page-break-before: always; } }
.lesson-section-title {
  display: none; }

.drill-answer {
  font-size: 12px;
  color: #666;
  font-style: italic;
  text-align: right; }

eng {
  opacity: 0.6;
  font-size: 75%; }
